#games-section {
	text-align: center;
}

.game-card {
	display: inline-block;
	width: 250px;
	margin: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 10px;
}

.game-card img {
	width: 100%;
	border-radius: 5px;
}

.game-card h3 {
	font-size: 18px;
	margin: 10px 0;
}

.game-card p {
	font-size: 14px;
	color: #555;
}

.game-card a {
	display: block;
	background-color: #007bff;
	color: #fff;
	padding: 8px;
	margin-top: 10px;
	text-decoration: none;
	border-radius: 5px;
}

.game-card a:hover {
	background-color: #0056b3;
}